<h1>Autos en stock</h1>

<div>
    {{#each limitProducts }}
        <ul>
            <li>
                id: {{this.id}}
            </li>
            <li>
                title: {{this.title}}
            </li>
            <li>
                description: {{this.description}}
            </li>
            <li>
                price: ${{this.price}}
            </li>
            <li>
                category: {{this.category}}
            </li>
            <li>
                status: {{this.status}}
            </li>
            <li>
                code: {{this.code}}
            </li>
            <li>
                stock: {{this.stock}}
            </li>
            <li>
                thumbnail: {{this.thumbnail}}
            </li>

        </ul>
    {{/each}}
</div>


{{!-- 
<!DOCTYPE html>
<html>
<head>
<title>Productos</title>
</head>
<body>
<h1>Lista de productos</h1>
{{#each products}}
    <div>
        <h2>{{title}}</h2>
        <p>Categoría: {{category}}</p>
        <p>Descripción: {{description}}</p>
        <p>Precio: {{price}}</p>
    </div>
{{/each}}
</body>
</html> --}}
